atomicwrites==1.3.0
attrs==19.1.0
backcall==0.1.0
certifi==2019.6.16
chardet==3.0.4
colorama==0.4.1
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.3
django-allauth==0.39.1
idna==2.8
importlib-metadata==0.19
ipython-genutils==0.2.0
jedi==0.14.1
more-itertools==7.2.0
oauthlib==3.0.2
packaging==19.1
parso==0.5.1
pickleshare==0.7.5
pluggy==0.12.0
prompt-toolkit==2.0.9
py==1.8.0
Pygments==2.4.2
pyparsing==2.4.2
pytest==5.0.1
pytest-django==3.5.1
python3-openid==3.1.0
pytz==2019.1
requests==2.22.0
requests-oauthlib==1.2.0
selenium==3.141.0
six==1.12.0
sqlparse==0.3.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.5.2
