<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% include 'company/chunks/meta_head.html' %}
  {% include 'company/chunks/link_head.html' %}

  <title>Welcome to {{ business.name }}</title>
</head>

<body>
  {% include 'company/chunks/navbar.html' %}
  <!-- Header -->
  <header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">{{ business.tagline }}</h1>
          <p class="lead mb-5 text-white-50">{{ business.description }}</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        {{ business.long_description }}
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>{{ business.contact_set.all.0.name }}</strong>
          <br />
          {{ business.contact_set.all.0.address }}
          <br />
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          {{ business.contact_set.all.0.phone }}
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:{{ business.contact_set.all.0.address }}">{{ business.contact_set.all.0.email }}</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      {% for card in business.card_set.all %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ card.logo_file_path }}" alt="{{ card.name }}">
          <div class="card-body">
            <h4 class="card-title">{{ card.name }}</h4>
            <p class="card-text">{{ card.html_code }}</p>
          </div>
          <div class="card-footer">
            <a href="{{ card.page.slug }}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
  {% include 'company/chunks/footer.html' %}
</body>

</html>
