{% extends 'timeline/base.html' %}
{% load static %}
{% block page_style %}
  <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

	<link href="{% static 'timeline/vendor/timelineslider/css/jquery.timespace.dark.css' %}" rel="stylesheet">
{% endblock %}
{% block 'content_row' %}
<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    {% for flow in object_list %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ flow.name }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Actions:</div>
                    <a class="dropdown-item" href="#">Marker</a>
                    <a class="dropdown-item" href="#">Integration</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteModal">
                      <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                      Delete
                    </a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
        <h2>Event Timeline</h2>
        <div id="timeline"></div>
        </div>
    </div>
  <!-- Delete Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "DELETE" below if you are really want to delete this timeline.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <form method="post" action="{% url 'timeline:delete' flow.id %}">{% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
</div>
{% endblock %}
{% block page_script %}
	<script src="{% static 'timeline/vendor/timelineslider/jquery.timespace.js' %}"></script>
<script>
	$(function () {

		$('#timelineClock').timespace({

			// Set the time suffix function for displaying as '12 A.M.'
			timeSuffixFunction: s => ' ' + s[0].toUpperCase() + '.' + s[1].toUpperCase() + '.',
			selectedEvent: -1,
			data: {
				headings: [
					{start: 0, end: 6, title: 'Night'},
					{start: 6, end: 12, title: 'Morning'},
					{start: 12, end: 18, title: 'Afternoon'},
					{start: 18, end: 24, title: 'Evening'},
				],
				events: [
					{start: 6.50, title: 'Breakfast', description: 'Eat a healthy breakfast.'},
					{start: 8, end: 10, title: 'Walk', description: 'Go for a walk.'},
					{start: 14, title: 'Lunch', description: 'Eat a healthy lunch.'},
					{start: 14.75, title: 'Meeting', description: 'Meeting with Co-workers.'},
				]
			},

		});

		$('#timeline').timespace({

			timeType: 'date',
			useTimeSuffix: false,
			startTime: 500,
			endTime: 2050,
			markerIncrement: 50,
			data: {
				headings: [
					{start: 500, end: 1750, title: 'Dark Ages'},
					{start: 1750, end: 1917, title: 'Age of Revolution'},
					{start: 1971, title: 'Information Age'},
				],
				events: [
					{start: 1440, title: 'Gutenberg\'s Printing Press', width: 200},
					{start: 1517, end: 1648, title: 'The Reformation',
						description: $('<p>The Reformation was a turning point in the history of the world. '
							+ 'Martin Luther was a key player in this event as he stood up against Papal tyranny '
							+ 'and church apostasy.</p><p>Many other reformers followed in the steps of Luther '
							+ 'and followed the convictions of their hearts, even unto death.</p>')},
					{start: 1773, title: 'Boston Tea Party'},
					{start: 1775, end: 1783, title: 'American Revolution', description: 'Description:', callback: function () {

						this.container.find('.jqTimespaceDisplay section').append(
							'<p>This description was brought to you by the callback function. For information on the American Revolution, '
							+ '<a target="_blank" href="https://en.wikipedia.org/wiki/American_Revolution">visit the Wikipedia page.</a></p>'
						);

					}},
					{start: 1789, title: 'French Revolution'},
					{start: 1914, end: 1918, title: 'World War I', noDetails: true},
					{start: 1929, end: 1939, title: 'Great Depression',
						description: 'A period of global economic downturn. Many experienced unemployment and the basest poverty.'
					},
				]
			},

		}, function () {

			// Edit the navigation amount
			this.navigateAmount = 500;

		});

	});
</script>
{% endblock %}
