{% extends 'timeline/base.html' %}
{% load static %}
{% block page_style %}
<link rel="stylesheet" href="{% static 'timeline/vendor/jquery.timeline/jquery.timeline.min.css' %}">
{% endblock %}
{% block 'content_row' %}
<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    {% for flow in object_list %}
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">{{ flow.name }}</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Actions:</div>
                    <a class="dropdown-item" href="#">Marker</a>
                    <a class="dropdown-item" href="#">Integration</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Participant</a>
                </div>
            </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <canvas id="myAreaChart"></canvas>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block page_script %}
<script src="{% static 'company/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'timeline/vendor/jquery.timeline/jquery.timeline.min.js' %}"></script>
{% endblock %}