{% extends 'timeline/base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}New timeline{% endblock %}
{% block 'page_heading' %}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New Timeline</h1>
</div>
{% endblock %}
{% block 'content_row' %}
<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">timeline form</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
            <form class="user" action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="submit" value="Save timeline" class="btn btn-primary submit submitButton" id="submit-id-submit" />
                <input type="reset" name="reset" value="Clear data" class="btn btn-danger submit submitButton" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
