<!DOCTYPE html>
{% load i18n %}
<html lang="en">

<head>
    {% include 'company/chunks/meta_head.html' %}
    {% include 'company/chunks/link_head.html' %}

    <title>Hello {{ object.username }}</title>
</head>

<body>
{% include 'company/chunks/navbar.html' %}
<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-12 mb-5">
            <h2>{{ object.username}}</h2>
            <hr>
            {{ object.email }}
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% include 'company/chunks/footer.html' %}
</body>

</html>
